.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  margin: 1em;
  padding: 1em;
  height: 150px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: left;
}

.blackCard {
  background-color: black;
  color: white;
}

.whiteCard {
  display: inline-flex;
  background-color: white;
  color: black;
  overflow-wrap: break-word !important;
}
